body {
    font-family: sans-serif;
    padding: 2.5%;
    line-height: 1.25;
    background-color: #eee;
}

a {
    color: #D26911;
}

.photo {
    background-image: url('../files/polaroid.png');
    transition: all 0.5s;
    max-width: 20em;
    margin: 0 auto;
}

.photo .image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 66.7%;
    width: 100%;
    height: 0;
    max-height: 0;
    vertical-align: bottom;
    transition: all 0.5s;
}

.photo img {
    // width: auto;
    // height: 100%;
    width: 100%;
    height: auto;
    transition: all 0.5s;
    vertical-align: bottom;
    -webkit-transform: scale(1.75) translateY(4.5%);
       -moz-transform: scale(1.75) translateY(4.5%);
            transform: scale(1.75) translateY(4.5%);
}


.photo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    opacity: 0.2;
}

.photo .overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1.3) rotateZ(-15deg);
       -moz-transform: scale(1.3) rotateZ(-15deg);
            transform: scale(1.3) rotateZ(-15deg);
    box-shadow: inset 0 0 5em 3em rgba(0,0,0,0.9);
    border-radius: 35%;
    opacity: 0;
}

.rotated img {
    -webkit-transform: scale(1.75) translateY(4.5%) rotateZ(30deg);
       -moz-transform: scale(1.75) translateY(4.5%) rotateZ(30deg);
            transform: scale(1.75) translateY(4.5%) rotateZ(30deg);
}

.squared .image {
    padding-bottom: 100%;
}

.squared img {
    width: 150%;
    margin-left: -25%;
}

.saturated .overlay {
    background-color: red;
    opacity: 0.2;
}

.highlighted img {
    -webkit-filter: unquote("brightness(150%)");
       -moz-filter: unquote("brightness(150%)");
            filter: unquote("brightness(150%)");
}

.highlighted .overlay {
    opacity: 0.3;
}

.vignette .overlay-2 {
    opacity: 1;
}

.polaroid {
    box-shadow: 0 0 .2em .1em rgba(0,0,0,0.2);
    padding: 1.25em 1.25em 5.5em;
}

.caption {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
    display: none;
    color: white;
    font-size: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    text-align: right;
}

.emotional .caption {
    display: block;
}

.done {
    -webkit-transform: scale(0.75) rotateZ(-15deg);
       -moz-transform: scale(0.75) rotateZ(-15deg);
            transform: scale(0.75) rotateZ(-15deg);
}

.steps {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.75em 0.75em 3em;
    color: white;
    background-color: rgba(0,0,0,0.8);
}

.step {
    max-width: 20em;
    margin: 0 auto;
}

.prev, .next {
    position: absolute;
    bottom: 1em;
}

.prev {
    left: 1em;
}

.next {
    right: 1em;
}

@media (orientation: landscape) {
    body {
        margin-left: 12em;
    }

    .steps {
        top: 0;
        right: auto;
        width: 10em;
    }
}

.hidden {
    display: none;
}